#root {
    background-color: #212123; /* Задаём фон для всего приложения */
    min-height: 100vh; /* Чтобы фон занимал всю высоту страницы */
    color: #fff;
    font-family: "Montserrat", sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*background-color: #212123;*/
    color:#fff;
    font-family: "Montserrat", sans-serif;
}