.App {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    max-width: 1274px;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
}

.wrapper {
    flex: 1;
}